
.canvas-wrapper {
    width: 100%;
    height: 100%;
}

.canvas {
    width: 1000px;
    height: 500px;
    position: absolute;
    top: 0;
    bottom: 0;
    right: 0;
    left: 0;
    margin: 0 auto;
}
.container {
    background-image: url("./../img/BackA.jpg");
    background-size: cover;
    width: 1024px;
    height: 800px;
    margin: 0 auto;
}
.clearfix:after {
    content: "";
    display: table;
    clear: both;
}
.form-3 {
    font-family: 'Mistral', 'Lato', script;
    font-weight: 400;
    /* Size and position */
    width: 300px;
    position: relative;
    margin: 60px auto 30px;
    padding: 10px;
    overflow: hidden;
    color: #4847b3;
}
.form-3 label {
    /* Size and position */
    width: 45%;
    float: left;
    padding-top: 9px;
 
    /* Styles */
    color: #4847b3;
    font-size: 12px;
    text-transform: uppercase;
    letter-spacing: 1px;
    text-indent: 10px;
    font-weight: 700;*/
    cursor: pointer;
}
 
.form-3 input[type=text],
.form-3 input[type=password] {
    /* Size and position */
    width: 50%;
    float: left;
    padding: 8px 5px;
    margin-bottom: 10px;
    font-size: 12px;
 
    /* Styles */
    border: 1px solid #4847b3;
    background: transparent;
 
    /* Font styles 
    font-family: 'Ubuntu', 'Lato', sans-serif;
    color: #fff;
 
}
 
.form-3 input[type=text]:hover,
.form-3 input[type=password]:hover,
.form-3 label:hover ~ input[type=text],
.form-3 label:hover ~ input[type=password] {
    background: #27292c;
}
 
.form-3 input[type=text]:focus,
.form-3 input[type=password]:focus {
    box-shadow: inset 0 0 2px #000;
    background: #494d54;
    border-color: #51cbee;
    outline: none; */
}
.form-3 p:nth-child(3),
.form-3 p:nth-child(4) {
    float: left;
    width: 50%;
}
.form-3 label[for=remember] {
    width: auto;
    float: none;
    display: inline-block;
    text-transform: capitalize;
    font-size: 11px;
    font-weight: 400;
    letter-spacing: 0px;
    text-indent: 2px;
}
 
.form-3 input[type=checkbox] {
    margin-left: 10px;
    vertical-align: middle;
}
.form-3 input[type=submit] {
    /* Width and position */
    width: 100%;
    padding: 8px 5px;
   
    /* Styles */
    border: 1px solid #4847b3; 
    background: transparent;
    cursor:pointer;
    color: #4847b3;
    font-weight: 700;
    font-size: 15px;
    font-family: 'Ubuntu', 'Lato', sans-serif;
   
    /* Font styles */
    text-shadow: 0 -1px 0 rgba(0,0,0,0.8);*/
}
 
.form-3 input[type=submit]:hover {
    box-shadow: inset 0 1px 0 rgba(255,255,255,0.6);
}
 
.form-3 input[type=submit]:active {
    background: #287db5;
    box-shadow: inset 0 0 3px rgba(0,0,0,0.6);
    border-color: #000; /* Fallback */
    border-color: rgba(0,0,0,0.9);
}
 
.no-boxshadow .form-3 input[type=submit]:hover {
    background: #2a92d8;
}
/* Gradient line */
.form-3:after {
    /* Size and position */
    content: "";
    height: 1px;
    width: 33%;
    position: absolute;
    left: 20%;
    top: 0;
 
}
