
.canvas-wrapper {
    width: 100%;
    height: 100%;
}

.canvas {
    width: 1000px;
    height: 500px;
    position: absolute;
    top: 0;
    bottom: 0;
    right: 0;
    left: 0;
    margin: 0 auto;
}
.container {
    background-image: url("./../img/BackA.jpg");
    background-repeat: no-repeat;
    background-size: 100%;
    width: 1024px;
    height: 800px;
    margin: 0 auto;
}
.clearfix:after {
    content: "";
    display: table;
    clear: both;
}
.form-3 {
    font-family: 'Mistral', 'Lato', script;
    font-weight: 400;
    /* Size and position */
    width: 300px;
    position: relative;
    margin: 60px auto 30px;
    padding: 10px;
    overflow: auto;
    color: #4847b3;
    background: transparent;
}
.form-3 label {
    /* Size and position */
    
    width: 80px;
    margin-right: 10px;
    float: left;
    padding-top: 9px;
 
    /* Styles */
    color: #4847b3;
    font-size: 16px;
    text-transform: uppercase;
    letter-spacing: 1px;
    text-indent: 10px;
    font-weight: 700;
    cursor: pointer;
}
 
.form-3 input[type=text],
.form-3 input[type=password] {
    /* Size and position */
    
    width: 50%;
    float: left;
    padding: 8px 5px;
    margin-bottom: 10px;
    font-size: 12px;
 
    /* Styles */
    border: none;
    background: transparent;
}
.form-3 p:nth-child(1) {
    background-image: url(./../img/backLog.png);
    background-size: 53%;
    background-position: 90px;
    background-repeat: no-repeat;
    overflow: auto;
}
.form-3 p:nth-child(2) {
    margin-top: 25px;
    background-image: url(./../img/backPas.png);
    background-size: 53%;
    background-position: 90px;
    background-repeat: no-repeat;
    overflow: auto;
}
.form-3 p:nth-child(3) {
    float: left;
    width: 130px;
    height: 50px;
    margin: 7px 0 0 -7px;
    background-image: url(./../img/backReg.png);
    background-size: 99%;
    background-position: -3px 3px;
    background-repeat: no-repeat;
    overflow: auto;
}
.form-3 p:nth-child(4) {
    float: left;
    width: 45%;
    margin: 7px 0 0 13px;
    background-image: url(./../img/backSubmit.png);
    background-size: 70%;
    background-position: 20px;
    background-repeat: no-repeat;
    overflow: auto;
}
.form-3 label[for=registration] {
    /*width: auto; */
    float: none;
    display: inline-block;
    text-transform: capitalize;
    font-size: 24px;
    font-weight: 400;
    letter-spacing: 0px;
    text-indent: 2px;
    text-decoration: underline;
}
.form-3 label[for=registration]:hover {
    /*width: auto; 
    margin-left: -10px;
    text-transform: capitalize;*/
    font-size: 24px;
    font-weight: 800;
    letter-spacing: 0px;
    text-indent: 2px;
}

.form-3 input:focus {
    border: none;
}
.form-3 input[type=submit] {
    /* Width and position */
    width: 100%;
    padding: 5px 5px;
   
    /* Styles */
    border: none; 
    background: transparent;
    cursor:pointer;
    color: #4847b3;
    font-weight: 700;
    font-size: 25px;
    font-family: 'Mistral', 'Lato', script;
    /* Font styles */
}

 
.form-3 input[type=submit]:active {
    background: #287db5;
}
input:focus
{
    outline:none;
}