
body {
    background-image: url(./../img/back.png);
}
.canvas-wrapper {
    width: 100%;
    height: 100%;
}

.canvas {
    /*width: 1000px;
    height: 500px; */
    position: absolute;
    top: 0;
    bottom: 0;
    right: 0;
    left: 0;
    margin: 0 auto;
}
.container {
    background-image: url("./../img/BackIndex.png");
    background-repeat: no-repeat;
    background-size: 100%;
    width: 1024px;
    height: 800px;
    margin: 0 auto;
    position: relative;
}
.setting {
    background: none;
}
.back-button {
    border: none; 
    cursor:pointer;
    background: transparent;
    background-image: url("./../img/backButton.png");
    background-repeat: no-repeat;
    background-size: 100%;
    width: 84px;
    height: 68px;
    position: absolute;
    left:0;
    top: 0;
}
.back-button:hover,
.back-button:active,
.back-button:focus {
    outline:none;
    cursor:pointer;
}
.clearfix:after {
    content: "";
    display: table;
    clear: both;
}
.buttons:last-of-type {
    float: right;
}
.buttons:nth-child(2) {
}
.begin {
    position: absolute;
    left: 0; 
    right: 0; 
    top: 150px;
    margin: 0 auto; 
    text-align: center;
}

.form-3 {
    text-transform: uppercase;
    font-family: 'Mistral', 'Lato', script;
    font-weight: 400;
    /* Size and position */
    width: 300px;
    float: center;
    position: relative;
    margin: 0 auto 30px;
    padding: 10px;
    overflow: auto;
    color: #4847b3;
    background: transparent;
}
.form-3 label {
    /* Size and position */
    
    width: 80px;
    margin-right: 10px;
    float: left;
    padding-top: 9px;
 
    /* Styles */
    color: #4847b3;
    font-size: 16px;
    text-transform: uppercase;
    letter-spacing: 1px;
    /*text-indent: 10px; */
    font-weight: 700;
    cursor: pointer;
}
 
input[type=text],
input[type=password] {
    /* Size and position */
    text-transform: uppercase;
    width: 50%;
    float: left;
    padding: 5px 10px 0 ;
    margin-bottom: 5px;
    font-size: 25px;
    color: #4847b3;
    font-family: 'Mistral', 'Lato', script;
    appearance: none;
    /* Styles */
    border: none;
    background-color: transparent;
}
.log-form {
    background-image: url(./../img/backLog.png);
    background-size: 53%;
    background-position: 83px;
    background-repeat: no-repeat;
    overflow: auto;
}
.pas-form {
    margin-top: 25px;
    background-image: url(./../img/backPas.png);
    background-size: 53%;
    background-position: 83px;
    background-repeat: no-repeat;
    overflow: auto;
}
.reg-form {
    float: left;
    width: 130px;
    height: 50px;
    margin: 4px 0 0 -4px;
    background-image: url(./../img/backReg.png);
    background-size: 105%;
    background-position: -3px 3px;
    background-repeat: no-repeat;
    overflow: auto;
}
a {
    text-decoration: none;
    color: #4847b3;
}
.registration>.reg-form {
    width: 200px;
    height: 60px;
    margin: 3px 0 0 -3px;
    padding: 11px 0 0 4px;
    background-size: 100%;
    background-position: 0px 3px;
}
.registration .log-form {
    background-size: 53%;
    background-position: 83px;
}
.registration .pas-form {
    margin-top: 15px; 
    background-size: 53%;
    background-position: 83px;
}
.registration input[type=text],
.registration input[type=password] {
    width: 44%; 
}
.registration h2 {
    margin-left: 20px;
}

.sub-form {
    float: left;
    width: 45%;
    margin: 7px 0 0 13px;
    background-image: url(./../img/backSubmit.png);
    background-size: 70%;
    background-position: 20px;
    background-repeat: no-repeat;
    overflow: auto;
}
.registration p {
    background-position: 87px;
}
.form-3 a[for=registration] {
    /*width: auto; */
    text-align: center;
    cursor: pointer;
    padding-top: 9px;
    float: none;
    display: inline-block;
    text-transform: capitalize;
    font-size: 24px;
    font-weight: 400;
    letter-spacing: 0px;
    text-indent: 2px;
}
.form-3 a[for=registration]:hover {
    font-weight: 800;
    letter-spacing: 0px;
    text-indent: 2px;
}

.form-3 input:focus {
    border: none;
    transition: 0.2s ease-in-out;
}
.form-3 input[type=submit] {
    /* Width and position */
    width: 100%;
    padding: 5px 5px;
   
    /* Styles */
    border: none; 
    background: transparent;
    cursor:pointer;
    color: #4847b3;
    font-weight: 400;
    font-size: 25px;
    font-family: 'Mistral', 'Lato', script;
}
.reg-form input[type=submit] {
    font-size: 20px;
}
 
.form-3 input[type=submit]:hover {
    font-weight: 800;
}
input:focus,
input:active,
input:focus-within,
input:hover
{
    outline:none;
}

.form {
    font-weight: 700;
    font-size: 27px;
    color: #4847b3;
    font-family: 'Mistral', 'Lato', script;
    width: 1024px;
    height: 800px;
    margin: 0 auto;
    padding: 40px;
}
.form h2 {
    text-align: center;
    margin-left: -67px;
}

.setting_layout {
    position: relative;
    width: 615px;
    height: 250px;
    margin: 0 auto;
}
.setting_layout div{
    float: left;
}
.setting_layout div:nth-child(2){
    margin-left: 25px;
}

.check-container {
    display: block;
    position: relative;
    width: 260px;
    height: 30px;
    padding-left: 35px;
    margin-top: 14px;
    margin-bottom: 31px;
    cursor: pointer;
    font-size: 26px;
    -webkit-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
  }
  .check_setting {
      margin-left: 20px;
      width: 240px;
  }
  /* Hide the browser's default checkbox */
  .check-container input {
    position: absolute;
    opacity: 0;
    cursor: pointer;
    height: 0;
    width: 0;
  }
  
  /* Create a custom checkbox */
  .checkmark {
    position: absolute;
    top: 0;
    left: 0;
    height: 30px;
    width: 30px;
    background-image: url(./../img/checkBox.png);
    background-size: 100%;

  }
  
  .check-container {
      transition: 0.2s ease-in-out;
  }

  /* On mouse-over, add a grey background color */
  .check-container:hover input ~ .checkmark {
    height: 31px;
    width: 31px;
  }
  .check-container:hover {
    font-size: 28px;
  }
  /* When the checkbox is checked, add a blue background */
  .check-container input:checked ~ .checkmark {
    background-image: url(./../img/checkBoxActive.png);
    background-size: 100%;
  }
  .check-container input[type="radio"]:checked ~ .checkmark {
    background-image: url(./../img/radioActive.png);
    background-size: 100%;
  }
  /* Create the checkmark/indicator (hidden when not checked) */
  .checkmark:after {
    content: "";
    position: absolute;
    display: none;
  }
  
  /* Show the checkmark when checked */
  .check-container input:checked ~ .checkmark:after {
    display: block;
  }
  
.error {
    color: red !important;
}
  
.form-personal-page {
    text-transform: uppercase;
    font-family: 'Mistral', 'Lato', script;
    font-weight: 400;
    color: #4847b3;
    background: transparent;
    padding: 90px;
}
.form-personal-page .sub-form {
    display: inline-block;
    font-family: 'Mistral', 'Lato', script;
    font-weight: 400;
    font-size: 20px;
    color: #4847b3;
    height: 40px;
    width: 100%;
    margin-top: 7px;
    padding-left: 9px;
    background: transparent;
    background-image: url(./../img/backSubmit.png);
    background-size: 60%;
    background-position: 0;
    background-repeat: no-repeat;
    border: none;
    text-align: left;
}
.password-form .sub-form {
    width: 67%;
}
.form-personal-page .log-form {
    width: 67%;
    background-size: 100%;
    background-position: 0;
}
.content {
    width: 400px;
    margin: 0 auto;
}
.column {
    padding: 2px;
    box-sizing: border-box;
    width: 33%;
    float: left;
    height: 50px;
    margin-bottom: 10px;
}
.column:nth-child(1) {
    width: 20%;
}
.column:nth-child(2) {
    width: 46%;
}
.row:after{
content: "";
display: table;
clear: both;
}
.score {
    margin-top: 30px;
}
.content-support {
    font-weight: 600;
    color: #4847b3;
    font-size: 24px;
    width: 600px;
    height: 800px;
    margin: 0 auto;
    padding: 40px;
    text-align: center;
}
.content-support p{
    width: 400px;
    font-weight: 400;
    font-size: 20px;
    margin: 0 auto;
}
.exit {
    position: absolute;
    right: 0;
    top: 0;
    width: 120px;
    height: 50px;
}
.exit-button {
    width: 100%;
    display: inline-block;
    font-family: 'Mistral', 'Lato', script;
    font-weight: 400;
    font-size: 25px;
    color: #4847b3;
    height: 40px;
    margin-top: 7px;
    padding-left: 9px;
    background: transparent;
    background-image: url(./../img/backSubmit.png);
    background-size: 74%;
    background-position: 14px;
    background-repeat: no-repeat;
    border: none;
    text-align: center;
}
.personal-button {
    display:inline-block;
    text-align:center;
}

.button {
    width: 200px;
    display: inline-block;
    font-family: 'Mistral', 'Lato', script;
    font-weight: 400;
    font-size: 25px;
    color: #4847b3;
    height: 50px;
    padding: 15px 0 0 2px;
    background: transparent;
    background-image: url(./../img/backReg.png);
    background-size: 91%;
    background-position: 0;
    background-repeat: no-repeat;
    border: none;
    text-align: center;
} 